/* 15 game */

.taulukko {
  display: table;
  margin: 0 auto;
}

.rivi {
  display: table-row;
}

.ruutu {
  display: table-cell;
  padding: 3px 10px;
  text-align: center;
  background-color: whitesmoke;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 10px;
  border: 10px solid transparent;
}

.ruutu:hover {
  border-color: crimson;
}

.ruutu2 {
  display: table-cell;
  padding: 3px 10px;
  text-align: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  color: white;
}

.ruutu3 {
  display: table-cell;
  padding: 3px 10px;
  text-align: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: darkorange;
  color: white;
}

.ruutu4 {
  display: table-cell;
  padding: 3px 10px;
  text-align: center;
  font-size: 20px;

  color: white;

  line-height: 150px;
  border: 10px solid transparent;
}

.ruutu5 {
  display: table-cell;
  text-align: center;
  color: white;
}

.runko {
  display: table-row-group;
}
