body {
  background-image: url("img/pexels-pixabay-268533.jpg");
  color: #000;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.icon a:visited {
  color: #fff;
}

.icon img {
  margin-bottom: 5px;
}

#window {
  position: absolute;
  z-index: 1;
  background-color: #f1f5f5;
  border-radius: 15px;
}

#windowheader {
  position: relative;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.1);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-transform: uppercase;
  padding: 5px;
}
#window2 {
  position: absolute;
  z-index: 2;
  background-color: #f1f5f5;
  border-radius: 15px;
}

#windowheader2 {
  position: relative;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.1);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-transform: uppercase;
  padding: 5px;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: flex;
}

.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.red {
  background-color: #ea6565;
}

.yellow {
  background-color: #f4bc55;
}

.green {
  background-color: #58bd54;
}

.navbar {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.95);
  padding-left: 5px;
  color: #fff;
}

.navbar a {
  display: inline-flex;
  align-items: center;
  color: #f4f0ec;
  text-decoration: none;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  position: relative;
}

.navbar a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
}

.navbar a:last-child {
  margin-right: 0;
}

.navbar a:hover {
  background-color: rgba(192, 192, 192, 0.9);
  height: 100%;
}

.time-date-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
}

#current-time {
  margin-right: 10px;
}

#current-date {
  font-size: 12px;
}
