body {
  background-image: url("img/pexels-pixabay-268533.jpg");
  color: #000;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.icon a:visited {
  color: #fff;
}

.icon img {
  margin-bottom: 5px;
}

#window {
  /* game */
  position: absolute;
  z-index: 1;
  background-color: #f1f5f5;
  border-radius: 15px;
}
#window2 {
  /* app */
  position: absolute;
  z-index: 2;
  background-color: #f1f5f5;
  border-radius: 15px;
  width: 500px;
  height: 500px;
}
#window3 {
  /* mail */
  position: absolute;
  z-index: 2;
  background-color: #f1f5f5;
  border-radius: 15px;
}
#windowheader {
  position: relative;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.95);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-transform: uppercase;
  padding: 5px;
  color: #f1f5f5;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: flex;
}

.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.red {
  background-color: #ea6565;
}

.yellow {
  background-color: #f4bc55;
}

.green {
  background-color: #58bd54;
}
